<div class="container mt-3">
    <h1>Edit Blog Post</h1>
    <%= render partial: "form", locals: {blog_post: @blog_post} %>
    <%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are You SURE?"}, :class => "btn btn-secondary btn-outline-dark fw-bold mt-2" %>
</div>