<h1><%= @blog_post.title %></h1>
<div>
    <a>Last Update at</a>
    <%= @blog_post.updated_at %>
</div>
<a><%= @blog_post.body %></a>

<div>
    <%= button_to "Edit", edit_blog_post_path(@blog_post) %>
</div>